.logo{
    text-decoration: none;
    overflow: hidden;
}
.logo .text{
    color: #000;

    font-size: 16px;
    font-weight: 300;
}

.logo .text:hover{
    color: var(--color3);
}

.logo img{
    width: 35px;
    height: 35px;

    margin-right: 5px;
}


@keyframes bounceOutLeft {
    0%{opacity: 1;}

    20% {
      opacity: 1;
      -webkit-transform: translate3d(20px, 0, 0) scaleX(0.9);
      transform: translate3d(20px, 0, 0) scaleX(0.9);
    }
  
    to {
      -webkit-transform: translate3d(-2000px, 0, 0) scaleX(2);
      transform: translate3d(-2000px, 0, 0) scaleX(2);
      opacity: 0;
    }
  }
  .animate__bounceOutLeft {
    -webkit-animation-name: bounceOutLeft;
    animation: bounceOutLeft 3s;
    opacity: 0; 
  }


  @media (max-width: 1200px) and (min-width: 992px){
    .logo .text{
      font-size: 12px;
    }
  }

  @media (max-width: 576px){
      .logo .text{
        width: 50%;        
        font-size: 10px;
        font-weight: 300;
    }
  }