.container-image-with-text{
    width: 100%;
    height: 540px;
    padding: 40px 0px;
}

.container-image-with-text .container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-image-with-text .container .container-img{
    width: 55%;
    height: 462px;
}

.container-image-with-text .container .container-img .destaque{
    position: relative;
    width: 90%;
    height: 90%;
    border-radius: 13px;
    object-fit: cover;
}

.container-image-with-text .container .container-img .detalheUp{
    width: 100%;
    position: relative;
}
.container-image-with-text .container .container-img .detalheUp img{
    position: absolute;
    width: 135px;
    height: 175px;
    left: -30px;
    top: -440px;
}

.container-image-with-text .container .container-img .detalheDown{
    width: 100%;
    position: relative;
}
.container-image-with-text .container .container-img .detalheDown img{
    position: absolute;
    width: 135px;
    height: 175px;
    right: 33px;
    top: 270px;
}

.container-image-with-text .container .context{
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    padding: 20px 0 60px 0;
}

.container-image-with-text .container .context a{
    margin-top: auto;
}

.container-image-with-text .container .context .hastag{
    font-family: 'Poppins', sans-serif;
    font-size: 19px;
    font-weight: bold;
    color: var(--color3);    
}

.container-image-with-text .container .context h2{
    font-family: 'Poppins', sans-serif;
    font-size: 64px;
    text-align: right;
    line-height: 96px;
    font-weight: bold;
    color: var(--color5);

    margin-bottom: 30px;
}

.container-image-with-text .container .context p{
    width: 80%;
    font-size: 19px;
    text-align: right;
    line-height: 22px;
    font-weight: 400;
    color: var(--color3);
}

.container-image-with-text .container .context a{
    width: 300px;
    font-size: 19px;
    font-weight: 400;
    color: var(--color5);

    text-align: right;
    transition: .2s ease-in;
}

.container-image-with-text .container .context a svg{
    font-size: 24px;
    margin-right: 20px;
}
.container-image-with-text .container .context a:hover{
    color: var(--color1)
}


@media (min-width: 992px) and (max-width: 1439px){
    .container-image-with-text .container .context h2{
        font-size: 45px;
        line-height: 76px;
    }

    .container-image-with-text .container .container-img{
        height: 390px;
    }
    .container-image-with-text .container .container-img .detalheUp img{
        left: -35px;
        top: -445px;
    }
    .container-image-with-text .container .container-img .detalheDown img{
        top: 245px;
    }
    .container-image-with-text .container .context a{
        font-size: 19px;
    }
}


@media (max-width: 991px){
    .container-image-with-text{
        height: fit-content;
    }
    .container-image-with-text .container{
        flex-direction: column;
        justify-content:flex-start;
    }

    .container-image-with-text .container .container-img{
        width: 100%;
        height: 300px;
    }
    
    .container-image-with-text .container .container-img .detalheDown{
        display: none;
    }    

    .container-image-with-text .container .container-img .detalheUp{
        display: none;
    }    

    .container-image-with-text .container .context{
        width: 100%;
        align-items: center;
    }

    .container-image-with-text .container .context .hastag{
        width: 100%;
        font-size: 14px;
        text-align: right;
    }

    .container-image-with-text .container .context h2{
        font-size: 26px;
        line-height: 40px;
        margin-bottom: 20px;
        text-align: center;
    }
    .container-image-with-text .container .context p{
        width: 100%;
        text-align: center;
        margin-bottom: 50px;
    }

    .container-image-with-text .container .context a{
        width: 100%;
        text-align: center;
    }
    .container-image-with-text .container .container-img .destaque{
        width: 100%;
    }
}

@media (max-width: 576px){
    .container-image-with-text .container .context a{
        font-size: 19px;
        margin-right: 30px;
    }
}