@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  scroll-behavior: auto;
}

:root {
  --color1: #7B8C8B;
  --color2: #F2F2F2;
  --color3: #595959;
  --color4: #262626;
  --color5: #0D0D0D; 
  --white: #FFFFFF;
}

html,
body {
  margin: 0;
  padding: 0;
  background: var(--color2);  
}

a {
  color: inherit;
} 

form{
  z-index: 0;
}

.MenuMobile .accordion{
  margin: 0 !important;
}

@media (max-width: 576) {
  .container-image-with-text .container .context a svg{
    font-size: 24px;
  }
  .container-image-with-text .container .context a{
    font-size: 19px;
  }
  
}